::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--hmn-scrollbar-normal);
    border-radius: 1em;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--hmn-scrollbar-hover);
}

::-webkit-scrollbar-thumb:active {
    background: var(--hmn-scrollbar-active);
}