<IfModule mime_module>
  AddHandler application/x-httpd-ea-php80___lsphp .php .php8 .phtml
</IfModule>

RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
    Header set Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
    Header set Access-Control-Allow-Headers "Content-Type, Authorization"
</IfModule>

# Use local URLs for ErrorDocument to display the error page at the current URL
ErrorDocument 400 /error/index.php?error=400
ErrorDocument 402 /error/index.php?error=402
ErrorDocument 401 /error/index.php?error=401
ErrorDocument 403 /error/index.php?error=403
ErrorDocument 404 /error/index.php?error=404
