:root {
    --hmn-fontSize-inlineCode: calc(var(--hmn-fontSize-p) - 1px);
    --hmn-fontSize-inputText: calc(var(--hmn-fontSize-p) - 1.5px);
    --hmn-fontSize-icon: 14px;
    --hmn-fontSize-p: 14px;
    --hmn-fontSize-h1: 18px;
    --hmn-fontSize-h1Title: 34px;
    --hmn-fontSize-h2: 16px;
    --hmn-fontSize-h2Title: 22px;

    --hmn-borderColor-black-primary: rgba(0, 0, 0, 0.06);
    --hmn-borderColor-black-default: rgba(0, 0, 0, 0.03);
    --hmn-borderColor-black-secondary: rgba(0, 0, 0, 0.018);

    --hmn-outlineColor-blue-primary: #397debdb;
    --hmn-outlineColor-blue-default: #66a1ff80;
    --hmn-outlineColor-blue-secondary: #679cf1db;

    --hmn-outlineColor-green-primary: hsla(136, 82%, 57%, 0.859);
    --hmn-outlineColor-green-default: hsla(136, 100%, 70%, 0.502);
    --hmn-outlineColor-green-secondary: hsla(136, 83%, 67%, 0.859);

    --hmn-textColor-black-primary: hsl(0, 0%, 27%);
    --hmn-textColor-black-default: hsl(0, 0%, 39%);
    --hmn-textColor-black-secondary: hsl(0, 0%, 66%);

    --hmn-textColor-blue-primary: #2a59d0;
    --hmn-textColor-blue-default: #4474ef;
    --hmn-textColor-blue-secondary: #7194ed;

    --hmn-textColor-red-primary: 0;
    --hmn-textColor-red-default: 0;
    --hmn-textColor-red-secondary: 0;

    --hmn-selectionColor: #c2dbff;

    --hmn-maxPageWidth: 100vw;

    --hmn-backgroundColor-blue-primary: hsla(217, 81%, 45%, 0.859);
    --hmn-backgroundColor-blue-default: hsla(217, 85%, 51%, 0.859);
    --hmn-backgroundColor-blue-secondary: hsla(217, 82%, 57%, 0.859);

    --hmn-backgroundColor-green-primary: hsla(136, 81%, 45%, 0.859);
    --hmn-backgroundColor-green-default: hsla(136, 85%, 51%, 0.859);
    --hmn-backgroundColor-green-secondary: hsla(136, 82%, 57%, 0.859);

    --hmn-backgroundColor-white-primary: hsl(0, 0%, 100%);
    --hmn-backgroundColor-white-default: hsl(0, 0%, 99.5%);
    --hmn-backgroundColor-white-secondary: hsl(0, 0%, 98%);

    --hmn-widgetColor-white-primary: hsl(0, 0%, 96%);
    --hmn-widgetColor-white-default: hsl(0, 0%, 93%);
    --hmn-widgetColor-white-secondary: hsl(0, 0%, 89%);

    --hmn-footerSize: 16px;
    --hmn-headerSize: 68px;

    --hmn-backgroundColor-box-primary: hsl(0, 0%, 94%);
    --hmn-backgroundColor-box-default: hsl(0, 0%, 96%);
    --hmn-backgroundColor-box-secondary: hsl(0, 0%, 97%);

    --hmn-scrollbar-active: hsl(0, 0%, 80%);
    --hmn-scrollbar-normal: hsl(0, 0%, 88%);
    --hmn-scrollbar-hover: hsl(0, 0%, 93%);
}