$textColor-100: hsl(0, 0%, 80%);
$textColor-200: hsl(0, 0%, 70%);
$textColor-300: hsl(0, 0%, 60%);
$textColor-400: hsl(0, 0%, 30%);
$textColor-700: hsl(0, 0%, 20%);
$textColor-900: hsl(0, 0%, 12%);

$textColor-blue-normal: hsl(219, 91%, 57%);
$textColor-blue-bold: hsl(219, 80%, 39%);
$textColor-blue-light: hsl(219, 96%, 72%);