main#doc[doc-type=blog] {
    #doc-content {
        max-width: 1100px;
    }
}

main#doc[doc-type=guide] {
    #doc-content {
        max-width: 100%;
    }
}

#toggle-guide-content {
    display: none;

    @media screen and (max-width:850px) {
        display: flex;
        position: fixed;
        top: calc(2em + var(--hmn-headerSize));
        right: calc(var(--hmn-header-paddingX) + 1em);
        width: fit-content;
        height: fit-content;
        padding: 1em;
        aspect-ratio: 1/1;
        border-radius: 999px;
        background: white;
        border: 1px solid var(--hmn-borderColor-black-default);
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.05);
        cursor: pointer;
        z-index: 1001;
        transition: 0.25s;
        user-select: none;
        color: var(--hmn-textColor-black-default);

        &:hover {
            color: rgba(0, 0, 0, 0.2)
        }

        &:hover {
            color: rgba(0, 0, 0, 0.15);
            box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.075);
        }
    }
}

main#doc {
    #doc-content {
        flex-direction: row;
        border-right: 1px solid var(--hmn-backgroundColor-box-primary);
        flex-grow: 1;

        @media screen and (max-width:850px) {
            width: 100%;
            max-width: unset;
        }

        aside#guide-content {
            padding-top: calc(var(--doc-ui-breadcrumbs-height) + 2em);
            flex-grow: 1;
            width: 24em;
            max-width: 24em;
            min-width: 24em;
            padding: 2em;
            border-left: 1px solid var(--hmn-borderColor-black-primary);

            @media screen and (max-width:850px) {
                position: fixed;
                display: none;
                width: 100vw;
                max-width: 100vw;
                height: 100vh;
                z-index: 1000;
                left: 0;
                top: var(--hmn-headerSize);
                padding: 2em;
                background: white;

                &.visible {
                    display: flex;
                }
            }

            h3.guide-title {
                display: flex;
                align-items: center;
                flex-direction: row;
                padding: 0 1rem;
                margin: 1em 0;
            }

            ul {
                margin: 0.5em 0;
                line-height: 1.8;

                li {
                    margin-bottom: 0.5em;
                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }
            }

            section.doc-module {
                padding: 0 1em;

                h4.module-title {
                    font-weight: 600;
                    font-style: italic;
                    margin-bottom: 0
                }

                p.module-lesson-group-title {
                    margin: 0;
                    font-style: italic;

                    &::after {
                        content: ' ;';
                    }
                }

                a.module-lesson {
                    font-style: italic;
                    display: block;
                }

                a.module-lesson.active {
                    font-style: normal;
                    font-weight: 800;
                }
            }
        }

        article {
            padding: var(--hmn-header-paddingY) var(--hmn-header-paddingX);
            padding-top: calc(var(--doc-ui-breadcrumbs-height) + 2em);
            gap: 1em;
            flex-grow: 1;
            border-left: 1px solid var(--hmn-backgroundColor-box-primary);
            border-right: 1px solid var(--hmn-backgroundColor-box-primary);

            @media screen and (max-width:850px) {
                max-width: unset;
                min-width: unset;
                width: 100%;
            }

            section {
                padding: 0;
            }
        }

        aside#doc-aside {
            padding: 2em;
            padding-top: calc(var(--doc-ui-breadcrumbs-height) + 2em);
            flex-grow: 1;
            max-width: 14em;
            width: 100%;

            #doc-aside-content {
                position: sticky;
                top: calc(2em + var(--hmn-headerSize));
            }
        }

        @media screen and (max-width:850px) {
            aside#doc-aside {
                display: none;
            }

            .ui\:breadcrumbs {
                display: none;
            }

            main#doc #doc-content article {
                padding-top: 5em
            }
        }
    }
}